*~
*.swp
tmp/
npm-debug.log
.DS_Store
.idea
merged/
.next
.vscode/
node_modules/
.coverage
resources.txt
.env
.versionFilesList.json
build/
bin/
notes.txt

# OpenZeppelin
.openzeppelin/dev-*.json
.openzeppelin/.session

# Charged Particles
./ChargedParticles.sol
./ChargedParticlesERC1155.sol
./ChargedParticlesEscrow.sol
